@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

html, body, p, div, 
h1, h2, h3, h4, h5, h6  {
	font-family: 'Open Sans', sans-serif;
}

#main-logo {
	color: #fff;
	text-decoration: none;
	font-weight: 500;
	font-size: 18px;
	text-shadow: 0 1px 1px rgba(0,0,0,0.3);
	text-indent: -9999px;
	background: url(../img/airport-deals-logo-white.png) no-repeat;
	display: inline-block;
	width: 225px;
	height: 66px;
}
#main-logo:hover {
	text-decoration: none;
}

#top-area {
	background: url("../img/background.jpg") no-repeat;
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/background.jpg', sizingMethod='scale')";
	background-size: cover;
	position: relative;
	min-height: 637px;
	padding-bottom: 15%;
	background-position-y: 15%;
}

#top-bar {
	padding-top: 37px;
}
#language-selector .dropdown-menu { 
	min-width: 100%;
}
.lang {
	width: 16px;
	height: 14px;
	margin: 2px 4px 0 0;
	display:inline-block;
	background: url(../img/sprite-1.png) no-repeat;
}
.lang-en {
	background-position: 0 -421px;
}
.lang-de {
	background-position: 0 -479px;
}


#headline {
	padding-top: 145px;
	color: #fff;
	font-size: 36px;
	font-weight: 400;
	text-shadow: 0 1px 1px rgba(0,0,0,0.3);
	text-align: center;
}
#headline h1 {
	font-weight: 400;
}
.headline-icons {
	background: url(../img/sprite-2.png);
	background-position: 0 -724px;
	width: 150px;
	height: 35px;
	margin: -5px 20px 0 20px;
	display: inline-block;
}
#tab-search {
	margin-top: 80px;
}

#tab-search .tab-pane {
	/*min-height: 50px;*/
	/*background: #fff;*/
}
#tab-search .nav-tabs {
	font-size: 12px;
}

@media (min-width: 768px) { 
	#tab-search .nav-tabs {
		font-size: 16px;
	}	
}

#tab-search .nav-tabs a {
	color:#15ABFF;
	text-shadow: 0 1px 1px #E5BDBD;

}
#tab-search .nav-tabs a:hover,
#tab-search .nav-tabs>li.active>a,
#tab-search .nav-tabs>li.active:hover,
#tab-search .nav-tabs>li.active:focus {
	color:#47505c;
	font-weight: 400;
	text-shadow:none;
}

#tab-search input, 
#tab-search button {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-o-border-radius: 0px;
	border-radius: 0px;

}
#tab-search ul.nav {
	border-bottom: 0;
}
#tab-search .tab-pane {
	padding: 0 15px;
}
#tab-search .no-gutter {
	padding: 0;
}

.sp-date-picker i {
	color:#179ae6;
}

.input-inner-addon {
	position: relative;
}
.left-inner-addon input {
	padding-left:30px;
}
.left-inner-item {
	position: absolute;
	padding: 14px 12px;
	line-height: 1;
	pointer-events: none;
}
.right-inner-addon input {
	padding-right: 30px;
}
.sp-date-picker .right-inner-addon input {
	padding-right: 60px;
}
.right-inner-item {
	position: absolute;
	right:12%;
	padding: 12px 12px;

}

.sp-date-picker .btn {
	border: 1px solid #bec7d2;
	box-shadow: 0 1px 1px 1px rgba(0,0,0,0.05);
	background: #fff;
	color: #47505c;
}
.sp-date-picker .btn i {
	color: #47505c;	
}
.sp-date-picker i.no-value {
	color:#ccc;
}
#search-steps-area {
	padding-top: 74px;
	padding-bottom: 84px;
}

#search-steps {
	text-align: center;
}
#search-steps h3 {
	color:#179ae6;
}
.step_logo {
	width: 190px;
	height: 124px;
	position: relative;
	margin: auto;
	background: url(../img/sprite-2.png) no-repeat;
}
.search-step_1 {
	background-position: 0 -362px;
}
.search-step_2 {
	background-position: 0 -124px;
}
.search-step_3 {
	background-position: 0 -486px;
}
.info-section {
	padding: 96px 20px;
	color: #787e8a;
	background: #f7f5f2;
	text-align: justify;
}
.b-filler {
	background-clip: border-box;
	background-color: rgb(230, 236, 241);
	border-bottom-color: rgb(102, 102, 102);
	min-height: 120px;
}
#bottom-menu {
	border-top: 1px solid #dbdbdb;
}
#bottom-social {
	text-align: right;
	font-size: 18px;
	line-height: 40px;
}
#footer {
	font-size: 12px;
	min-height: 40px;
	line-height: 40px;
	background-color: #023; 
	color:#cbced0;
}
#footer a {
	color:#cbced0;
}


.search-result {
	padding-top: 30px;
	padding-bottom: 40px;
}
.search-result h2 {
	color: #179ae6;
}
span.twitter-typeahead {
	width: 100%;
}
.tt-dropdown-menu {
	width: 422px;
	margin-top: 2px;
	padding: 8px 0;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
	-moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}